form{
    position: relative;
    top: -2.8em;
    left: 15%;
    transition: all 1s;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    color: white;
    background-color: #5385c1;
}

.fa{
    box-sizing: border-box;
    padding: 9px;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #5385c1;
    color: white;
}